<footer>
    <div class="content">
        <div class="container brand">
            <img src="..\assets\Images\logoBid365.png" [routerLink]="'/'">
            <p>
                A plataforma BID365 é a solução ideal para as leiloeiras automatizar os leilões virtuais e agilizar os negócios entre os compradores e vendedores. Venha fazer bons negócios com facilidade, custos mais competitivos e online.
            </p>
        </div>

        <div class="container nav">
            <h3> Mapa do site</h3>
            <custom-button [text]="'Login'" [class]="'nav login'" [routerLink]="'/login'"></custom-button>
            <custom-button [text]="'Sing-up'" [class]="'nav sign-up'" [routerLink]="'/sign-up'"></custom-button>
        </div>
        
        <div class="container contact">
            <h3> Contate-nos</h3>
            <div class="icon-container">
                <div class="icon facebook">
                    <a href="https://www.facebook.com/DIXXDIGITAL" target="_blank">f</a>
                </div>
                <div class="icon instagram">
                    <a href="https://www.instagram.com/_dixdigital/" target="_blank">i</a>
                </div>
                <div class="icon youtube">
                    <a href="https://www.youtube.com/channel/UC84jw6EhqZfB3YIb4U3CGEA" target="_blank">y</a>
                </div>
            </div>
            <p>(63) 99212 2200 | ac@dixbpo.com</p>
        </div>
    </div>
    <div class="credits">
        <p>&copy;2022 BID365 V.T. Todos os direitos reservados</p>
        <p>Desenvolvido por: Gabriel Zordan</p>
    </div>
</footer>